#landing_banner_wrapper {
  width: 100%;
  height: 125px;
  padding-top: 125px;
  background-color: #ee5555;
  text-align: center;
}

#landing_banner_content {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.38;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(189, 37, 37, 0.5);
}